<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Website</title>
  </head>
  <body>
    <h1>We will be right back</h1>

    <p>We are updating the website now...</p>
  </body>
</html>
